# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontEnd/node_modules
/.pnp
/frontEnd/.pnp
.pnp.js
/frontEnd/.pnp.js
/.vs
/frontEnd/.vs
/package-lock.json
/frontEnd/package-lock.json

# testing
/coverage
/frontEnd/coverage

# production
/build
/frontEnd/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# backend class file should be filted
/backEed/*.class

backEnd/target/
backEnd/target
backEnd/target/classes/edu/miu/alumni/repository/JobAdvertisementRepository.class
backEnd/target/classes/edu/miu/alumni/repository/JobAdvertisementRepository.class
backEnd/target/classes/edu/miu/alumni/security/SecurityConfiguration.class
