body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo{
  float: left;
  width: auto;
  height: auto;
  color: #fff!important;
  font-weight: bold;
  margin-right: 20px;
}

.mt-20{
  margin-top:50px!important;
}

.login-form-button{
  float:right;
}

.search_student{
  display:flex!important;
}
